@{
    ViewData["Title"] = "Home Page";
}

<div class="top-sale ">
    <!-- TopSale -->
    <div class="top-sale ">
        <h3 class="mt-3">
            Deal Chớp Nhoáng
        </h3>
        <div class="ts-time">
            <div class="b-head">
                <div class="t-left">
                    <div class="l-one">
                        Đang Bán
                    </div>
                    <div class="l-two">
                        <span class="t-span">
                            Kết thúc trong
                        </span>
                        <ul class="t-ul">
                            <li class="t-li">
                                08
                            </li>
                            <li style="list-style:none" class="mx-3">
                                :
                            </li>
                            <li class="t-li">
                                19
                            </li>
                            <li style="list-style:none" class="mx-3">
                                :
                            </li>
                            <li class="t-li">
                                38
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="t-right">
                    <a class="r-a" href="">
                        MUA SẮM TOÀN BỘ SẢN PHẨM
                    </a>
                </div>
            </div>
            <div class="ts-product mt-3">
                <div class="row">
                    <div class="col-lg-2 col-4">
                        <div class="b-product">
                            <a class="p-a a" href="ProductDetaill.html">
                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t1.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Khăn tắm, khăn lau đầu cotton xuất Châu Âu dư 40* 80cm [Loại đẹp]
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        40.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -45%
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4">
                        <div class="b-product">
                            <a class="p-a a" href="ProductDetaill.html">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t2.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    ( FREESHIP + TẶNG MK + VIDEO ) Túi đeo chéo mini nam nữ unisex thời
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        59.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -63%
                                    </span>
                                </p>

                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-4">
                        <div class="b-product">
                            <a class="p-a a" href="ProductDetaill.html">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t3.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    [HCM]Khẩu trang y tế 4 lớp hộp 50 cái Kháng Khuẩn có tem logo
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        49.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -55%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4">
                        <div class="b-product">
                            <a class="p-a a" href="ProductDetaill.html">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t2.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Bra Sexy Mút Mỏng Không Gọng 7311 [Tiện Store]
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        50.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -56%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4">
                        <div class="b-product">
                            <a class="p-a a" href="ProductDetaill.html">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t5.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    [HCM]500G NGÔ MỸ NỔ BẮP RANG BƠ - CHƯA CHẾ BIẾN - đồ ăn vặt
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        30.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -27%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4">
                        <div class="b-product">
                            <a class="p-a a" href="ProductDetaill.html">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t6.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Áo Lót Học Sinh,Áo lót bra quây 2 dây 267 Vải Mát Lạnh
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        50.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -56%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SearchPopular -->
    <div class="searchpopular">
        <h3 class="sp-title mt-3">
            Tìm kiếm phổ biến
        </h3>
        <div class="row row-cols-lg-5 row-cols-3">
            <div class="col p-0">
                <div class="sp-box">
                    <a class="sp-a a" href="#">
                        <p class="sp-avatar">
                            <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t1.jpg" />
                        </p>
                        <p class="a-o">
                            Gấu Cưng
                        </p>
                        <p class="a-t">
                            29.567 sản phẩm
                        </p>
                    </a>
                </div>
            </div>
            <div class="col p-0">
                <div class="sp-box-t">
                    <div class="b-one">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t2.png" />
                            </p>
                            <p class="bo-o">
                                Máy Rửa Xe
                                <br />
                                <span class="o-span">
                                    29,230 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="b-two">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t3.jpg" />
                            </p>
                            <p class="bo-o">
                                Tai Nghe Gaming
                                <br />
                                <span class="o-span">
                                    6,647 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col p-0">
                <div class="sp-box-t">
                    <div class="b-one">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t4.jpg" />
                            </p>
                            <p class="bo-o">
                                Đèn Led
                                <br />
                                <span class="o-span">
                                    20,553 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="b-two">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t5.png" />
                            </p>
                            <p class="bo-o">
                                Điện Thoại
                                <br />
                                <span class="o-span">
                                    997,048 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col p-0">
                <div class="sp-box-t">
                    <div class="b-one">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t6.png" />
                            </p>
                            <p class="bo-o">
                                Loa Karaoke
                                <br />
                                <span class="o-span">
                                    57,248 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="b-two">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t7.jpg" />
                            </p>
                            <p class="bo-o">
                                Nước Hoa Nam
                                <br />
                                <span class="o-span">
                                    16,947 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col p-0">
                <div class="sp-box-t">
                    <div class="b-one">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t8.jpg" />
                            </p>
                            <p class="bo-o">
                                Son Lì
                                <br />
                                <span class="o-span">
                                    15,248 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                    <div class="b-two">
                        <a class="a bo-a" href="#">
                            <p class="bo-avatar">
                                <img class="sp-img img-fluid" src="~/FileUpload/Product/SearchPopular/t9.jpg" />
                            </p>
                            <p class="bo-o">
                                Túi xách nữ
                                <br />
                                <span class="o-span">
                                    541,152 Sản phẩm
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Collection -->
    <div class="collection">
        <h3 class="c-title">
            Bộ sưu tập
        </h3>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            Thể Thao Năng Động >
                            <br />
                            <span class="aps">
                                1,174 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t1.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t2.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t3.jpg" />
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            Làm Đẹp Quay TikTok >
                            <br />
                            <span class="aps">
                                6,208 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t4.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t5.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t6.png" />
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            Đồ chơi 99k >
                            <br />
                            <span class="aps">
                                7,364 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t7.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t8.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t9.jpg" />
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            Yêu Nhà Nghiện Bếp >
                            <br />
                            <span class="aps">
                                15,875 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t10.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t11.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t12.jpg" />
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            Túi Ví Nữ >
                            <br />
                            <span class="aps">
                                1,253 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t13.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t14.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t15.jpg" />
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            Phụ Kiện 5 Sao >
                            <br />
                            <span class="aps">
                                10,341 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t16.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t17.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t18.jpg" />
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            [Rẻ] Cuộc sống tiện lợi >
                            <br />
                            <span class="aps">
                                599 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t19.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t20.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t21.jpg" />
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="c-box">
                    <a class="cb-a" href="#">
                        <p class="ap-title">
                            Túi, Vali Du lịch >
                            <br />
                            <span class="aps">
                                577 Sản phẩm
                            </span>
                        </p>
                        <p class="ap-img">
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t22.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t23.jpg" />
                            <img class="ap-avatar img-fluid" src="~/FileUpload/Product/Collection/t24.jpg" />
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- ProductForYou -->
    <div class="top-sale ">
        <h3 class="mt-3">
            Dành riêng cho bạn
        </h3>
        <div class="ts-time">
            <div class="ts-product mt-3">
                <div class="row">
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">
                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t1.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Khăn tắm, khăn lau đầu cotton xuất Châu Âu dư 40* 80cm [Loại đẹp]
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        40.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -45%
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t2.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    ( FREESHIP + TẶNG MK + VIDEO ) Túi đeo chéo mini nam nữ unisex thời
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        59.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -63%
                                    </span>
                                </p>

                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t3.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    [HCM]Khẩu trang y tế 4 lớp hộp 50 cái Kháng Khuẩn có tem logo
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        49.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -55%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t2.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Bra Sexy Mút Mỏng Không Gọng 7311 [Tiện Store]
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        50.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -56%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t5.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    [HCM]500G NGÔ MỸ NỔ BẮP RANG BƠ - CHƯA CHẾ BIẾN - đồ ăn vặt
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        30.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -27%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t6.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Áo Lót Học Sinh,Áo lót bra quây 2 dây 267 Vải Mát Lạnh
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        50.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -56%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">
                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t1.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Khăn tắm, khăn lau đầu cotton xuất Châu Âu dư 40* 80cm [Loại đẹp]
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        40.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -45%
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t2.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    ( FREESHIP + TẶNG MK + VIDEO ) Túi đeo chéo mini nam nữ unisex thời
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        59.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -63%
                                    </span>
                                </p>

                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t3.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    [HCM]Khẩu trang y tế 4 lớp hộp 50 cái Kháng Khuẩn có tem logo
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        49.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -55%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t2.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Bra Sexy Mút Mỏng Không Gọng 7311 [Tiện Store]
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        50.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -56%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t5.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    [HCM]500G NGÔ MỸ NỔ BẮP RANG BƠ - CHƯA CHẾ BIẾN - đồ ăn vặt
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        30.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -27%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-2 col-4 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="#">

                                <p class="p-img">
                                    <img src="~/FileUpload/Product/TopSale/t6.jpg" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    Áo Lót Học Sinh,Áo lót bra quây 2 dây 267 Vải Mát Lạnh
                                </p>
                                <p class="p-newPrice">
                                    22.000đ
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        50.000đ
                                    </span>
                                    <span class="p-bonus">
                                        -56%
                                    </span>
                                </p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="mt-3 d-flex justify-content-center">
        Danh Sách Sản Phẩm
    </h3>
    <div class="ts-time">
        <div class="ts-product mt-3">
            <div class="row">
                @foreach (var item in ViewBag.products)
                {
                    <div class="col-lg-3 col-6 mb-3">
                        <div class="b-product">
                            <a class="p-a a" href="@Url.Action("Detail", "Product", new { productId = item.ProductId })">
                                <p class="p-img">
                                    <img src="@item.Image" class="img-avatar img-fluid" />
                                </p>
                                <p class="p-title">
                                    @item.Name
                                </p>
                                <p class="p-newPrice">
                                    @{
                                        int giaKhuyenMai = item.Price - ((item.Price * item.Discount) / 100);
                                    }
                                    @giaKhuyenMai.ToString("#,##0")
                                </p>
                                <p class="p-oldPrice">
                                    <span class="p-include">
                                        @item.Price.ToString("#,##0")
                                    </span>
                                    <span class="p-bonus">
                                        @item.Discount %
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

